@import './variables';
@import './mixins';

.excercise-detail-container {
    @include flexCenter(column);
    background-color: $secondary-bg-color;
   
    margin: 0px 100px;

    .title-picture {
        @include flexCenter(column);
        img {
            width: 700px;
            height: 450px;
            object-fit: cover;
        }

        h1 {
            margin-top: 0px;
        }
    }

    .info-container {
        width: 800px;

        .body-parts {
            display: flex;
            flex-direction: row;
            :not(:last-child)::after {
                content: ",\00a0" ;
            }

            p {
                margin: 0px;
            }
        }
    }

    .btn-container {
        display: flex;
        gap: 20px;
        font-size: 18px;
        
        a {
            color: $secondary-text-color;
            font-weight: 600;
        }

        button {
            background: none;
            border: none;
            font-family: inherit;
            font-weight: 600;
            font-size: 18px !important;
            color: $fourth-text-color;
            cursor: pointer;
        }
    }

    .error {
        color: red;
    }
}