@import './variables';
@import './mixins';

.nav-container {
    z-index: 1;
    background-color: $bg-color;
    @include flexCenter(row);
    justify-content: space-between;
    padding: 0 10vw;
    height: 5vh;
    position: sticky;
    top: 0px;
    justify-content: flex-end;
    

    h3 {
        cursor: pointer;
        margin: 0;
        transition: 0.5s ease;
        font-size: 2em;
    }


    @media (max-width: 645px) {
        h3 {
            font-size: 1.5em;
        }

        
    }

    @media (max-width: 500px) {
        h3 {
            font-size: 1.2em;
        }
    }

    @media (max-width: 410px) {
        h3 {
            font-size: 1.2em;
        }

    
    }
}