@import './variables';
@import './mixins';

.workout-detail-container {
    @include flexCenter(column);
    background-color: $secondary-bg-color;
    
    margin: 0px 100px;
    padding: 20px 20px;

    .title-picture {
        @include flexCenter(column);
        img {
            max-width: 700px;
            // height: 450px;
            object-fit: cover;
        }

        h1 {
            margin-top: 0px;
        }
    }

    .info-container {
        width: 800px;
        

        .excercises {
            :not(:last-child)::after {
                content: ",\00a0" ;
            }
        }
    }

    .btn-container {
        display: flex;
        gap: 20px;
        font-size: 18px;
        
        a {
            color: $secondary-text-color;
            font-weight: 600;
        }

        button {
            background: none;
            border: none;
            font-family: inherit;
            font-weight: 600;
            font-size: 18px !important;
            color: $fourth-text-color;
            cursor: pointer;
            padding: 0px;
        }
    }

    .error {
        color: red;
    }

    @media (max-width: 1200px) {
        margin: 0px 0px;

        .title-picture {
            img {
                max-width: 50vw;
            }

            h1 {
                font-size: 1.5em;
            }
        }

        .info-container {
            width: 500px;
        }
        
    }

    @media (max-width: 700px) {
        .info-container {
            width: 60vw;
            font-size: .8em;
        }

        .btn-container {
            font-size: .8em;

            button {
                font-size: .9em !important;
                font-family: inherit;
            }
        }
        
    }

}


